.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Custom CSS*/

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.container h1 {
  color: #343a40;
  text-align: center;
}

.container p {
  color: #869c98;
  font-size: 14px;
}

.form__label {
  margin-bottom: 10px;
  color: #343a40;
  display: block;
}

.form__input {
  margin-bottom: 30px;
}

.form__submit {
  display: block;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #0a66c2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p.form__text {
  color: #e03131;
}